<div class="header">
	<div class="header_container">
		<div class="logo">
			<%= link_to image_tag("logo.png"), root_path %>
		</div>
	<% if current_user %>
	<span class="alignright">
		<div class="profile_pic">
			<%= link_to image_tag(current_user.picture), current_user %>
		</div>
		<%= link_to current_user.name.capitalize, current_user %></br>
			<%= link_to "Sign out", signout_path %><br>
			<%= link_to raw('<i class="icon-cog"></i>'), edit_user_path(current_user) %><br>
			<%= link_to "Upload a video", new_video_path %>
			</span>
		<% else %>
		<span class="signin">
			Sign in with <%= link_to image_tag('youtube.png'), "/auth/youtube" %>
			</span>
		<% end %>
		</div>
	</div>